[Desktop Entry]
Version=1.0
Type=Link
Name=code authen.jpg
Comment=
Icon=user-bookmarks
URL=https://github.com/ledangquangdangquang/A_Setting_File/blob/main/Firefox/code%20authen.jpg
